<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <title>Alex Yung</title>
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-length, initial-scale = 1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="css/weatherForm/formPage.css">
    <title>Bhyun's Site</title>
        
</head>
<body>
    <section class="welcome">
        <h1 class="title">Want to know the weather?</h1>
        <img src="./img/weatherFormImages/rainImage.png" alt="rain?" class="mainImage mainImageLeft"/>
        <img src="./img/weatherFormImages/sunImage.jpg" alt="sun?"class="mainImage mainImageRight"/>
        <div class = "options">
            <form action = "./weatherForm/weather" method = "GET" class = "centered">
             <p class = "centered">Enter Your Latitude and Longitude</p>
             <input type = "number" name = "lat" value = "38.8903" step=".0001"><span>°</span>
             <input type = "number" name = "long" value = "-77.4112" step=".0001"/><span>°</span>
             <input type = "submit" value = "submit" />
            </form>   
        </div>
        
        <div>
            <h1 class = "centered">Example Coordinates</h1>
            <div class = "container">
                <ul>
                    <li>38.8903, -77.4112 (Chantilly, Virginia)</li>
                    <li>35, -71 (In the Ocean, No Forecast) </li>
                    <li>36.1808, -86.7647 (Nashville, Tennessee)</li>
                </ul>
        </div>
    </section>
    
    
    <div>
        <h2 class = "centered"><a href = "./labs">Back to Labs</a></h2>
    </div>
</body>
</html>