<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <title>Alex Yung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Boat Site</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="20">
    
    <nav class = "navbar navbar-inverse navbar-fixed-top">
        <div class = "container">
            <div class = "navbar-header">
                <a class = "navbar-brand" href = "./">W-CAB</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="#description">What is our Project?</a></li>
              <li><a href="#package">Page 2</a></li>
              <li><a href="#contact">Page 3</a></li>
            </ul>
        </div>
    </nav>
    
    <!-- Section 1 -->
    <div id="description">
        <h1>What is our Project?</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, corrupti sunt placeat voluptatibus ullam consectetur earum dolor, illo fugit dolores repellat? Perferendis ipsa reprehenderit cum aut eos architecto quisquam. Sunt.</span><span>Quibusdam sed illo nam, vero modi sit eveniet, nulla sequi beatae soluta accusamus, quia facilis esse dicta nobis saepe maxime asperiores libero incidunt tenetur dolor ducimus a totam? Fugiat, eveniet?</span><span>Delectus nam atque natus odit fuga recusandae voluptate est, repellendus autem vitae cupiditate? Accusantium vitae minus ab exercitationem repudiandae amet. Quia delectus aliquid nobis earum laborum aspernatur voluptate, placeat iste.</span><span>Itaque, iure nostrum! Enim obcaecati temporibus incidunt sed accusamus libero doloremque aliquid qui itaque ipsa minima explicabo id excepturi nemo corporis soluta, blanditiis at voluptate. Odit nisi reiciendis corporis nulla?</span><span>Nostrum nesciunt fuga cumque temporibus culpa consequuntur distinctio magni ea dicta rerum, sint quisquam similique molestias debitis perspiciatis mollitia molestiae ipsum aut? Quibusdam eos ducimus cupiditate quos, laudantium libero culpa?</span></p>
    </div>
    
    <div id="package">
        <h1>What is our Project?</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, corrupti sunt placeat voluptatibus ullam consectetur earum dolor, illo fugit dolores repellat? Perferendis ipsa reprehenderit cum aut eos architecto quisquam. Sunt.</span><span>Quibusdam sed illo nam, vero modi sit eveniet, nulla sequi beatae soluta accusamus, quia facilis esse dicta nobis saepe maxime asperiores libero incidunt tenetur dolor ducimus a totam? Fugiat, eveniet?</span><span>Delectus nam atque natus odit fuga recusandae voluptate est, repellendus autem vitae cupiditate? Accusantium vitae minus ab exercitationem repudiandae amet. Quia delectus aliquid nobis earum laborum aspernatur voluptate, placeat iste.</span><span>Itaque, iure nostrum! Enim obcaecati temporibus incidunt sed accusamus libero doloremque aliquid qui itaque ipsa minima explicabo id excepturi nemo corporis soluta, blanditiis at voluptate. Odit nisi reiciendis corporis nulla?</span><span>Nostrum nesciunt fuga cumque temporibus culpa consequuntur distinctio magni ea dicta rerum, sint quisquam similique molestias debitis perspiciatis mollitia molestiae ipsum aut? Quibusdam eos ducimus cupiditate quos, laudantium libero culpa?</span></p>
    </div>
    
    <div id="contact">
        <h1>What is our Project?</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, corrupti sunt placeat voluptatibus ullam consectetur earum dolor, illo fugit dolores repellat? Perferendis ipsa reprehenderit cum aut eos architecto quisquam. Sunt.</span><span>Quibusdam sed illo nam, vero modi sit eveniet, nulla sequi beatae soluta accusamus, quia facilis esse dicta nobis saepe maxime asperiores libero incidunt tenetur dolor ducimus a totam? Fugiat, eveniet?</span><span>Delectus nam atque natus odit fuga recusandae voluptate est, repellendus autem vitae cupiditate? Accusantium vitae minus ab exercitationem repudiandae amet. Quia delectus aliquid nobis earum laborum aspernatur voluptate, placeat iste.</span><span>Itaque, iure nostrum! Enim obcaecati temporibus incidunt sed accusamus libero doloremque aliquid qui itaque ipsa minima explicabo id excepturi nemo corporis soluta, blanditiis at voluptate. Odit nisi reiciendis corporis nulla?</span><span>Nostrum nesciunt fuga cumque temporibus culpa consequuntur distinctio magni ea dicta rerum, sint quisquam similique molestias debitis perspiciatis mollitia molestiae ipsum aut? Quibusdam eos ducimus cupiditate quos, laudantium libero culpa?</span></p>
    </div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</body>