<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <title>Alex Yung</title>
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-length, initial-scale = 1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="css/index.css">
    <title>Bhyun's Site</title>
        
</head>
<body>
    <header class = "topbar">
        <h1 class = "title">Alex Yung</h1>
        <div class = "button_container">
        <!--<a class = "button" href = "#whoiam">Intro</a>-->
        <a class = "button" href = "#index">Index</a>
        <a class = "button" href = "#contactme">Contact Me</a>
        </div>
    </header>
    <div class = "index" id = "index">
        <div class = "centered"><h1 class = "index">the shelf</h1></div>
        <div class = "grid">
            <div class = "ind1">
                <img src="img/indexImgs/gamingcontrollerimage.png" alt="Image Not Loading" class = "fill">
                <a href= "./labs" class = "imgDesc">Labs</a>
            </div>
            <div class = "ind1">
                <img src="img/indexImgs/boat.png" alt="Image Not Loading" class = "fill">
                <a href= "https://sites.google.com/fcpsschools.net/w-cab/home" class = "imgDesc">W-CAB</a>
            </div>
            <div class = "ind1">
                <img src="img/indexImgs/candlestick.jpg" alt="Image Not Loading" class = "fill">
                <a href= "./stockAnalysis" class = "imgDesc">SA Project</a>
            </div>
        </div>
        <div class = "grid">
            <div class = "ind1">
                <img src="img/indexImgs/bhyunkirby.png" alt="Image Not Loading" class = "fill">
                <a href= "./aboutme" class = "imgDesc">About Me</a>
            </div>
            <div class = "ind1">
                <img src="img/indexImgs/unidentified.jpg" alt="Image Not Loading" class = "fill">
                <a href= "." class = "imgDesc">TBD</a>
            </div>
            <div class = "ind1">
                <img src="img/indexImgs/unidentified.jpg" alt="Image Not Loading" class = "fill">
                <a href= "." class = "imgDesc">TBD</a>
            </div>
        </div>
    </div>
    
    <br>

    <div class = "sectorbox" id = "contactme">
        <!--<div id = "contactme" class = "content">-->
        <!--    <div><h1 class = "titleheader">contact me</h1></div>-->
        <!--</div>-->
        <br>
        <div class = "contactformat">
            <div class = "contactgroup">
                <img src="img/indexImgs/gmaillogo.png" alt="Image Not Loading" class = "contactgroup">
            </div>
            <div><h2 class = "contactinfo">realironfist123@gmail.com</h2></div>
        </div>
    </div>
    
</body>
</html>