<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/placeholderStyles.css">
</head>
<body>
    <h1 class = "centered">This Page Has Been Visited <%= count %> Times.</h1>

    <p class = "centered">
        Current Status: <%= placeholder %>
    </p>
    
    <div>
        <h2 class = "centered"><a href = "./labs" style="font-family: Lucida Sans text-size: 12px">Head back to Labs page</a></h2>
    </div>
</body>
</html>