
body {
  margin: 0;
}
html { 
  background-color: purple;
}
img, div {
  width: 100px;
  height: 100px;
}

.x {
  animation: x 7s linear infinite alternate;
}

.y {
  animation: y 4s linear infinite alternate;
}

.rx {
  animation: x 7s linear infinite alternate;
}

.ry {
  animation: y 4s linear infinite alternate;
}


@keyframes x {
  100% {
    transform: translateX( calc(100vw - 100px) );
    }
}


@keyframes y {
  100% {
    transform: translateY( calc(100vh - 100px) );
  }
}