<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="css/mDayCSS/main.css">

    <title>Home</title>
    <style>
        canvas{
            position: fixed;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body style = "border: 3px solid purple;
    margin: 0;
    padding: 0;
    background-image: url('img/mdayImages/flower.jpg');
    background-size: cover; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
  background-color: purple;">
    <div class="x">
      <img class="y" src="img/mdayImages/mom_picture.jpg" alt="codepen" />
    </div>
    
    <div style = "position: absolute; left: 43%; top: 43%; margin: 0; padding: 0; width: 200px">
        <h1 style = "color: white; text-align: center;">Happy Mothers Day!</h1>
    </div>
</body>
</html>